@using Microsoft.AspNet.Identity

@{
	ViewBag.Title = "Home Page";
}


@*<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Fixed navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>*@

<nav class="navbar navbar-expand-lg navbar-dark primary-color">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		@if (Request.IsAuthenticated)
		{
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
				{
					@Html.AntiForgeryToken()

					<ul class="navbar-nav ml-auto mb-2 mb-lg-0">

						<li class="nav-item">
							@Html.ActionLink(User.Identity.Name.ToString(), "UserGallery", "Gallery", null, new { @class = "nav-link nav-link-2" })
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link-2" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
						</li>
					</ul>

				}
			</div>
		}
		else
		{
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					<li class="nav-item">
						@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link nav-link-2" })
					</li>
					<li class="nav-item">
						@Html.ActionLink("Sing In", "Login", "Account", null, new { @class = "nav-link nav-link-2" })
					</li>
				</ul>
			</div>
		}
	</div>
</nav>

@if (Request.IsAuthenticated)
{
	<div class="container-fluid tm-container-content tm-mt-60">
		<div class="row tm-mb-90 tm-gallery">
			@if (Model != null)
			{
				foreach (var item in Model)
				{
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
						<img src="~/Upload/@item.PhotoPath" alt="Image" class="img-fluid">
						<div class="d-flex justify-content-between tm-text-gray">
							<span class="tm-text-gray-light">@item.DateTimeUploading.ToString("dd MMM yyyy")</span>
							<span>
								@item.VoiceCount like(-s)
							</span>
							<div class="row" style="margin-top:-.5rem">
								@using (Html.BeginForm("ChangeLike", "Home", new { photoId = item.Id, user = User.Identity.Name }))
								{
									<input type="hidden" value="@item.Id" name="photoId" />
									<input type="hidden" value="@User.Identity.Name" name="user" />

									if (item.IsLiked)
									{
										<button type="submit" rel="tooltip" title="Like" class="btn btn-outline-danger" style="margin-right:.1rem; border: none">
											<i class="material-icons">favorite</i>
										</button>
									}
									else
									{
										<button type="submit" rel="tooltip" title="Like" class="btn btn-outline-danger" style="margin-right:.1rem; border: none">
											<i class="material-icons">favorite_border</i>
										</button>
									}
								}
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
}
else
{
	<div class="container-fluid tm-container-content tm-mt-60">
		<div class="row tm-mb-90 tm-gallery">
			@if (Model != null)
			{
				foreach (var item in Model)
				{
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
						<img src="~/Upload/@item.PhotoPath" alt="Image" class="img-fluid">
						<div class="d-flex justify-content-between tm-text-gray">
							<span class="tm-text-gray-light">@item.DateTimeUploading.ToString("dd MMM yyyy")</span>
							<span>@item.VoiceCount like(-s)</span>
						</div>
					</div>
				}
			}
		</div>
	</div>
}
