@{
	ViewBag.Title = "GetUsers";
	Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>Users</h2>

<div>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>
					@foreach (var item in user.Roles)
					{
						@item;
						}
				</td>
				<td>
					@if (user.IsLockOut)
					{
						<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#staticBackdrop_@user.Id">Unlock</button>
					}
					else
					{
						<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#staticBackdrop_@user.Id">Lock</button>
					}
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Remove_staticBackdrop_@user.Id">Remove</button>

					<!-- Model Lock\Unlock User's acoount -->
					<div class="modal fade" id="staticBackdrop_@user.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Lock/Unlock Account</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Are you sure you want to change a lock state @user.UserName account?
								</div>
								<div class="modal-footer">
									@using (Html.BeginForm("LockOrRemove", "Admin", FormMethod.Post, new { email = user.Email }))
									{
										<input type="hidden" value="@user.Email" name="email" />
										if (user.IsLockOut)
										{
											<input type="submit" value="Unlock" class="btn btn-danger" name="submit" />
										}
										else
										{
											<input type="submit" value="Lock" class="btn btn-outline-danger" name="submit" />
										}
									}
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Model Remove User's account -->
					<div class="modal fade" id="Remove_staticBackdrop_@user.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Remove Account</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Are you sure you want to remove @user.UserName account?
								</div>
								<div class="modal-footer">
									@using (Html.BeginForm("LockOrRemove", "Admin", FormMethod.Post, new { email = user.Email }))
									{
										<input type="hidden" value="@user.Email" name="email" />
										<input type="submit" value="Remove" name="submit" class="btn btn-warning" />
									}
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

				</td>
			</tr>
		}
	</table>
	<button class="btn btn-outline-primary" onclick="location.href='@Request.UrlReferrer'">Back</button>
</div>


