@*@model IEnumerable<PL.Models.UserViewModel>*@
@{
	ViewBag.Title = "GetUsers";
	Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>GetUsers</h2>

<div>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>

					@using (Html.BeginForm("LockOrRemove", "Admin", FormMethod.Post, new { email = user.Email }))
					{
						<input type="hidden" value="@user.Email" name="email" />
						if (user.IsLockOut)
						{
							<input type="submit" value="Unlock" class="btn btn-danger", name="submit" />
						}
						else
						{
							<input type="submit" value="Lock" class="btn btn-outline-danger", name="submit" />
						}
						<input type="submit" value="Remove" name="submit" class="btn btn-outline-warning" />
					}
				</td>
			</tr>
		}
	</table>
	<button class="btn btn-outline-primary" onclick="location.href='@Request.UrlReferrer'">bacK</button>
</div>

